:root {
    --color1: #f2f2f2; /* gris claro */
    --color2: #d9d9d9; /* gris no tan claro */
    --color3: #717D7E; /* gris oscuro */
    --color4: #ffffff; /* blanco */
    --color_logo_azul: #bdc9fb;
    --color_logo_gris: #676d84;
}

.menu-nav {
    background: var(--color2);
    max-height: 20vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    vertical-align: center;
}
.letra-texto {
    font-size: x-small
}
.letra-descripción {
    /* font-family: Didot, serif;  Para cambiar la fuente de letra de los productos */
}
.cont-bor-red {
    align-content: center;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color2);
    background: var(--color1);
    border-radius: 10px;
    padding: 30px;
}
.article{

}

.filtros{
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 80%;
}
.margen{
    margin-top: 10px;
    margin-left: 10px;
}
.post{
    margin-top: 10px;
}
.cerca{
    width: 50%;
}

.main-row{
    display: flex;
    min-height: 100vh;
}
.navbar-nav > li {
    flex: 1;
    margin-right: 40px;
}
.cont-bor-red div {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.filtro-label {
    margin-bottom: 20px;
}
.col-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buscador {
    align-content: center;
    justify-content: center;
    vertical-align: center;
}
.username{
    color: black;
    text-decoration: none;
    margin-top: 20px;

}
.userpicture{
    max-width: 200px;
}
.container{
    padding-top: 25px;

}
.col-sm-4 {
    float: none;
    margin: 0 auto;
    text-align: center;
}

col-sm-9 article{
    
}

.form-group {
    margin-bottom: 20px;
}

/* Estilos para la imagen del producto */
.product-image {
    width: 700px;
    height: 400px;
    background-color: #f5f5f5;
    border: 1px solid black;
  }
  
  /* Estilos para el contenedor de la imagen y la caja de comentarios */
  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    margin-left: 0;
  }
  
  /* Estilos para la caja de comentarios */
  .comment-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Estilos para la imagen de perfil del usuario */
  .comment-avatar {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 10px;
  }
  
  /* Estilos para la sección de respuestas */
  .comment-replies {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    
  }
  
  /* Estilos para las cajas de comentarios de las respuestas */
  .reply-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    margin-top: 10px;
    width: 100%;
  }
  
  /* Estilos para los botones de acción */
  .action-button {
    background-color: #f5f5f5;
    border: 1px solid black;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  /* Estilos para el botón de acción activo */
  .action-button.active {
    background-color: #dcdcdc;
  }
  
  .user-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    float: left; /* añadido para alinear las imágenes a la izquierda */
  }
  
  .comment {
    margin-left: 10px;
  }
  
  .sub-comment {
    margin-left: 50px;
  }
  
  .like-button {
    float: right;
    margin-left: 10px;
    background-color: #4CAF50; 
    color: white; 
    border-radius: 5px; 
    padding: 5px 10px; 
  }
    
  .comment-button {
    float: right;
    margin-left: 10px;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
  }
    
  .share-button {
    float: right;
    margin-left: 10px;
    
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
  }

  .comment-text {
    margin-bottom: 30px;
  }
  
  .user-profile{
    margin-top: 20px;
  }
  .comment-actions{
    margin-bottom: 80px;
  }

 
  